@model Demo.Web.Models.AdderViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Adder</title>
</head>
<body>
    <p>@Model.Value1  + @Model.Value2  = @Model.Result</p>
</body>
</html>
