
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/main.css" />
</head>
<body>
    <h1>Hello!</h1>

    <form method="post">
        <input name="value1" /> +
        <input name="value2" /> =
        <input type="submit" value="?" />
    </form>

    <script src="~/test.js"></script>
</body>
</html>
