nav ul {
  display: block;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin: 0 0.5em 0 0;
    padding: 0;
    color: blue;

    a {
      padding: 0.5em;
      background-color: blue;
      color: white;
    }
  }
}